.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    opacity: 1;
}

body {
    font: 12px sans-serif;
}

.guide line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
    opacity: 0;
}
